.card{
    padding: 10px;
    border-style: outset;
    border-radius: 5px;
    border: 5px outset whitesmoke;
    background-color: lightgray;
}
#nav1 hr{
	border-top: 1px solid black !important;
}
#nav1 .card-title, #nav1 .card-text{
    color: black;
    font-weight: light;
    font-size: small;
    position:relative;
}
.card hr{
	border-top: 2px solid black !important;
}
.card-body a{
    border-radius: 4px;
    border: 2px outset white;
}
.card-title, .card-text, .navbar{
    color: black;
    font-weight: bold;
    font-size: larger;
    position:relative;
}
.card-body{
    background-color: lightgray;
}
#navindexjosh:has(.dropdown-menu) .dropdown-menu{
	background-color: lightgray;
}

/*IMAGE IMPORTS*/
:has(.logan){
	background-image: url("../../josh/assets/sunrise.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.img-sunrise{
    background-image: url('../../josh/assets/sunrise.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-grass{
    background-image: url('../../josh/assets/grass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-specles{
    background-image: url('../../josh/assets/logan_specles.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-blue-collar{
    background-image: url('../../josh/assets/blue_collar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-flower-grass{
    background-image: url('../../josh/assets/flower_grass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-pond{
    background-image: url('../../josh/assets/pond.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-farm{
    background-image: url('../../josh/assets/farm.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-terrace{
    background-image: url('../../josh/assets/terrace.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-mgrass{
    background-image: url('../../josh/assets/MGrass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-mgrass1{
    background-image: url('../../josh/assets/MGrass1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}