.red-back{
	background:red;
}
.maroon-back{
	background:maroon;
}
.green-back{
	background:green;
}
.forest-back{
	background:#005000;
}
.blue-back{
	background:blue;
}
.navy-back{
	background:navy;
}
.purple-back{
	background:purple;
}
.yellow-back{
	background:yellow;
}
.orange-back{
	background:orange;
}
.white-back{
	background:white;
}
.grey-back{
	background:#888888;
}
.dkgrey-back{
	background:#444444;
}
.black-back{
	background:black;
}
.red-font{
	color:red;
}
.maroon-font{
	color:maroon;
}
.green-font{
	color:green;
}
.forest-font{
	color:#005000;
}
.blue-font{
	color:blue;
}
.navy-font{
	color:navy;
}
.purple-font{
	color:purple;
}
.yellow-font{
	color:yellow;
}
.orange-font{
	color:orange;
}
.white-font{
	color:white;
}
.gray-font{
	color:#888888;
}
.dkgrey-font{
	color:#444444;
}
.black-font{
	color:black;
}
.m0{
	margin:0;
}
.m1{
	margin:1;
}
.m2{
	margin:2;
}
.m5{
	margin:5;
}
.m10{
	margin:10;
}
.m20{
	margin:20;
}
.mauto{
	margin:auto;
}
.bc-red{
	border-color:red;
}
.bc-maroon{
	border-color:maroon;
}
.bc-green{
	border-color:green;
}
.bc-forest{
	border-color:#005000;
}
.bc-blue{
	border-color:blue;
}
.bc-navy{
	border-color:navy;
}
.bc-purple{
	border-color:purple;
}
.bc-yellow{
	border-color:yellow;
}
.bc-orange{
	border-color:orange;
}
.bc-white{
	border-color:white;
}
.bc-grey{
	border-color:#888888;
}
.bc-dkgrey{
	border-color:#444444;
}
.bc-black{
	border-color:black;
}
.bs-bold{
	border-style:bold;
}
.bs-dotted{
	border-style:dotted;
}
.bs-dashed{
	border-style:dashed;
}
.bs-solid{
	border-style:solid;
}
.bs-double{
	border-style:double;
}
.bs-groove{
	border-style:groove;
}
.bs-ridge{
	border-style:ridge;
}
.bs-inset{
	border-style:inset;
}
.bs-outset{
	border-style:outset;
}
.b0{
	border:0;
}
.b1{
	border:1;
}
.b2{
	border:2;
}
.b5{
	border:5;
}
.b10{
	border:10;
}
.r1{
	border-radius: 1px;
}
.r2{
	border-radius: 2px;
}
.r3{
	border-radius: 3px;
}
.r4{
	border-radius: 4px;
}
.r5{
	border-radius: 5px;
}
.r10{
	border-radius: 10px;
}
.r15{
	border-radius: 15px;
}
.r20{
	border-radius: 20px;
}
.r25{
	border-radius: 25px;
}
.r30{
	border-radius: 30px;
}
.r35{
	border-radius: 35px;
}
.r40{
	border-radius: 40px;
}
.r45{
	border-radius: 45px;
}
.r60{
	border-radius: 60px;
}
.r90{/*circle*/
	border-radius: 90px;
}
.p0{
	padding:0;
}
.p1{
	padding:1px;
}
.p2{
	padding:2px;
}
.p3{
	padding:3px;
}
.p4{
	padding:4px;
}
.p5{
	padding:5px;
}
.p10{
	padding:10px;
}
.pauto{
	padding:auto;
}
.o0{
	opacity:0.0;
}
.o1{
	opacity:0.1;
}
.o2{
	opacity:0.2;
}
.o3{
	opacity:0.3;
}
.o4{
	opacity:0.4;
}
.o5{
	opacity:0.5;
}
.o6{
	opacity:0.6;
}
.o7{
	opacity:0.7;
}
.o8{
	opacity:0.8;
}
.o9{
	opacity:0.9;
}
.o10{
	opacity:1.0;
}
.h5{
	height:5%;
}
.h10{
	height:10%;
}
.h15{
	height:15%;
}
.h20{
	height:20%;
}
.h25{
	height:25%;
}
.h30{
	height:30%;
}
.h35{
	height:35%;
}
.h40{
	height:40%;
}
.h45{
	height:45%;
}
.h50{
	height:50%;
}
.h55{
	height:55%;
}
.h60{
	height:60%;
}
.h65{
	height:65%;
}
.h70{
	height:70%;
}
.h75{
	height:75%;
}
.h80{
	height:80%;
}
.h85{
	height:85%;
}
.h90{
	height:90%;
}
.h95{
	height:95%;
}
.h100{
	height:100%;
}
.vh70{
	height:70vh;
}
.vh75{
	height:75vh;
}
.vh80{
	height:80vh;
}
.vh85{
	height:85vh;
}
.vh90{
	height:90vh;
}
.vh95{
	height:95vh;
}
.vh100{
	height:100vh;
}
.hauto{
	height:auto;
}
.h150{
	height:150%;
}
.h200{
	height:200%;
}
.w10{
	width:10%;
	left: 45%;
}
.w20{
	width:20%;
	left: 40%;
}
.w30{
	width:30%;
	left: 35%;
}
.w40{
	width:40%;
	left: 30%;
}
.w50{
	width:50%;
	left: 25%;
}
.w60{
	width:60%;
	left: 20%;
}
.w70{
	width:70%;
	left: 15%;
}
.w80{
	width:80%;
	left: 10%;
}
.w90{
	width:90%;
	left: 5%;
}
.w100{
	width:100%;
}
.wauto{
	width:auto;
}
.drop1{
	margin-top:1%;
}
.drop2{
	margin-top:2%;
}
.drop3{
	margin-top:3%;
}
.drop4{
	margin-top:4%;
}
.drop5{
	margin-top:5%;
}
.scroll{
	overflow:auto;
}
.inline{
	display:inline;
}
.hidden{
	visibility:hidden;
}
.float-left{
	float:left;
}
/*.hcenter{
	position: relative;
	left: 50%;
	transform: translateX(-70%);
}*/
.vcenter{
	position: relative;
	top: 50%;
	transform: translateY(-45%);
}
.tcenter{
	text-align:center;
	vertical-align: middle;
}
.apaudio{
	position:absolute;
	z-index:100;
	top:90%;
	left:10%;
}
.apcredits{
	position:absolute;
	width:200px;
	height:22px;
	border:1px;
	z-index:101;
	top:95%;
	left:10%;
}