html{
	font-family: "Times New Roman", Times, serif;
}
body{
	background-image:url("../assets/terraforge_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
head{
	object-position: top;
	float: top;
}
ul,li{
    list-style:none;
    padding:0;
}
h3{
	font-weight:bold;
	margin: 0;
}
a{
	text-decoration:none;
}
.modal-content{
	font-weight:bold;
	border:2px solid #444;
	background:#1C1C1C;
}
.modal-content, .close{
	color:white;
}
.close{
	opacity: 1;
}
.modal-title{
	text-align:center;
}
.btn, input, textarea{
	font-weight:bold;
	border:2px solid #888;
	background:#bbb;
	color:#444;
}
::-webkit-input-placeholder {
   color: #457;
}

:-moz-placeholder { /* Firefox 18- */
   color: #457;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #457;
}

:-ms-input-placeholder {  
   color: #457;
}
.iframe-hidden{
	border:0;
	margin:0;
	outline:none;
}
.container{
	width: 95%;
    padding-left: 5px;
    padding-right: 5px;
}
.red-back{
	background:red;
}
.maroon-back{
	background:maroon;
}
.green-back{
	background:green;
}
.forest-back{
	background:#005000;
}
.blue-back{
	background:blue;
}
.navy-back{
	background:navy;
}
.purple-back{
	background:purple;
}
.yellow-back{
	background:yellow;
}
.white-back{
	background:white;
}
.grey-back{
	background:#888888;
}
.dkgrey-back{
	background:#444444;
}
.black-back{
	background:black;
}
.red-font{
	color:red;
}
.maroon-font{
	color:maroon;
}
.green-font{
	color:green;
}
.forest-font{
	color:#005000;
}
.blue-font{
	color:blue;
}
.navy-font{
	color:navy;
}
.purple-font{
	color:purple;
}
.yellow-font{
	color:yellow;
}
.white-font{
	color:white;
}
.gray-font{
	color:#888888;
}
.black-font{
	color:black;
}
.m0{
	margin:0;
}
.m1{
	margin:1;
}
.m2{
	margin:2;
}
.m5{
	margin:5;
}
.m10{
	margin:10;
}
.m20{
	margin:20;
}
.b0{
	border:0;
}
.b1{
	border:1;
}
.b2{
	border:2;
}
.b5{
	border:5;
}
.b10{
	border:10;
}
.p0{
	padding:0;
}
.p1{
	padding:1;
}
.p2{
	padding:2;
}
.p5{
	padding:5;
}
.p10{
	padding:10;
}
.o0{
	opacity:0.0;
}
.o1{
	opacity:0.1;
}
.o2{
	opacity:0.2;
}
.o3{
	opacity:0.3;
}
.o4{
	opacity:0.4;
}
.o5{
	opacity:0.5;
}
.o6{
	opacity:0.6;
}
.o7{
	opacity:0.7;
}
.o8{
	opacity:0.8;
}
.o9{
	opacity:0.9;
}
.o10{
	opacity:1.0;
}
.h10{
	height:10%;
}
.h20{
	height:20%;
}
.h30{
	height:30%;
}
.h40{
	height:40%;
}
.h50{
	height:50%;
}
.h60{
	height:60%;
}
.h70{
	height:70%;
}
.h80{
	height:80%;
}
.h90{
	height:90%;
}
.h100{
	height:100%;
}
.h150{
	height:150%;
}
.h200{
	height:200%;
}
.w10{
	width:10%;
	left: 45%;
}
.w20{
	width:20%;
	left: 40%;
}
.w30{
	width:30%;
	left: 35%;
}
.w40{
	width:40%;
	left: 30%;
}
.w50{
	width:50%;
	left: 25%;
}
.w60{
	width:60%;
	left: 20%;
}
.w70{
	width:70%;
	left: 15%;
}
.w80{
	width:80%;
	left: 10%;
}
.w90{
	width:90%;
	left: 5%;
}
.w100{
	width:100%;
}
.drop1{
	margin-top:1%;
}
.drop2{
	margin-top:2%;
}
.drop3{
	margin-top:3%;
}
.drop4{
	margin-top:4%;
}
.drop5{
	margin-top:5%;
}
.box-shadow{
	box-shadow: 10px 10px 5px #444 inset;
}
.link_button{
	background:#fff;
	margin:5px;
	padding:2px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow: 5px 5px 5px #00a;
}
.logo{
	background-image: url("../assets/banner_back.jpg");
    background-size:  100% 100px;/*auto 100%;*/
    background-repeat: no-repeat;
}
.scroll{
	overflow:auto;
}
.inline{
	display:inline;
}
.hidden{
	visibility:hidden;
}
.float-left{
	float:left;
}
.title{
	color:#fff;
}
/*.hcenter{
	position: relative;
	left: 50%;
	transform: translateX(-70%);
}*/
.vcenter{
	position: relative;
	top: 50%;
	transform: translateY(-45%);
}
.tcenter{
	text-align:center;
}
.apaudio{
	position:absolute;
	z-index:100;
	top:90%;
	left:10%;
}
.apcredits{
	position:absolute;
	width:200px;
	height:22px;
	border:1px;
	z-index:101;
	top:95%;
	left:10%;
}