body {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.spin {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s ease-in 1s, height 3s ease-in 2s, transform 4s ease-in, top 5s ease-in, left 6s ease-in;
}
.spin:hover {
    top: 100px;
    left: 100px;
    position: absolute;
    width: 200px;
    height: 400px;
    transform: rotate(180deg);
}


.style1{
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    cursor: pointer;
}