.card{
    padding: 10px;
    border-radius: 10px;
    border: 2px outset white;
}
.nav-link-spacy{
    padding: 2px !important;
}
#nav1 hr{
	border-top: 1px solid black !important;
}
#nav1 .card-title, #nav1 .card-text{
    color: black;
    font-weight: light;
    font-size: small;
    position:relative;
}
.card hr{
	border-top: 2px solid black !important;
}
.card-body a{
    border-radius: 10px;
    border: 2px outset white;
}
.card-title, .card-text, .navbar{
    color: black;
    font-weight: bold;
    font-size: larger;
    position:relative;
}
.card-body{
    background-color: lightgray;
}
.dropdown-menu{
	background-color: initial;
}

/*IMAGE IMPORTS*/
:has(.logan){
	background-image: url("/public/josh/assets/sunrise.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.sunrise{
    background-image: url('/public/josh/assets/sunrise.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.grass{
    background-image: url('/public/assets/grass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.specles{
    background-image: url('/public/assets/logan_specles.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.blue-collar{
    background-image: url('/public/assets/blue_collar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.flower-grass{
    background-image: url('/public/assets/flower_grass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pond{
    background-image: url('/public/assets/pond.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.farm{
    background-image: url('/public/assets/farm.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.terrace{
    background-image: url('/public/assets/terrace.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mgrass{
    background-image: url('/public/assets/MGrass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mgrass1{
    background-image: url('/public/assets/MGrass1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}