:has(.logan){
	background-image: url("../../josh/assets/sunrise.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.img-sunrise{
    background-image: url('../../josh/assets/sunrise.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-grass{
    background-image: url('../assets/grass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-specles{
    background-image: url('../assets/logan_specles.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-blue-collar{
    background-image: url('../assets/blue_collar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-flower-grass{
    background-image: url('../assets/flower_grass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-pond{
    background-image: url('../assets/pond.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-farm{
    background-image: url('../assets/farm.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-terrace{
    background-image: url('../assets/terrace.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-mgrass{
    background-image: url('../assets/MGrass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img-mgrass1{
    background-image: url('../assets/MGrass1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}