:has(.logan){
	background-image: url("../../josh/assets/sunrise.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.sunrise{
    background-image: url('../../josh/assets/sunrise.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.grass{
    background-image: url('../assets/grass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.specles{
    background-image: url('../assets/logan_specles.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.blue-collar{
    background-image: url('../assets/blue_collar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.flower-grass{
    background-image: url('../assets/flower_grass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pond{
    background-image: url('../assets/pond.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.farm{
    background-image: url('../assets/farm.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.terrace{
    background-image: url('../assets/terrace.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mgrass{
    background-image: url('../assets/MGrass.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.mgrass1{
    background-image: url('../assets/MGrass1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}